<a href="https://colab.research.google.com/github/shreedharmaster/Codes/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:



for i in range(2,101):
    for j in range(2,101):
        if i%j == 0:
            break
    if i == j:
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [2]:
def is_prime(n):
    if n <= 1:
        return False
    if n == 2:
        return True
    if n % 2 == 0:
        return False
    sqrt_n = int(n**0.5) + 1
    for i in range(3, sqrt_n, 2):
        if n % i == 0:
            return False
    return True

prime_numbers = [n for n in range(1, 101) if is_prime(n)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [3]:
# Python3 program to swap elements
# at given positions

# Swap function
def swapPositions(list, pos1, pos2):

	list[pos1], list[pos2] = list[pos2], list[pos1]
	return list

# Driver function
List = [23, 65, 19, 90]
pos1, pos2 = 1, 3

print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

In [4]:
# Python3 program to swap first
# and last element of a list

# Swap function
def swapList(newList):
	size = len(newList)

	# Swapping
	temp = newList[0]
	newList[0] = newList[size - 1]
	newList[size - 1] = temp

	return newList

# Driver code
newList = [12, 35, 9, 56, 24]

print(swapList(newList))

[24, 35, 9, 56, 12]

In [5]:
lst = [1, 2, 3, 4, 5]
print("Original list:", lst)
if len(lst) < 2:
        print("The list must have at least two elements.")
else:
    lst[0], lst[-1] = lst[-1], lst[0]
    print("List after swapping first and last elements:", lst)

Original list: [1, 2, 3, 4, 5]
List after swapping first and last elements: [5, 2, 3, 4, 1]

In [6]:
def swap(lst):
    if len(lst) >= 2:
        lst[0], lst[-1] = lst[-1], lst[0]
    return lst

list = [10,20,30]
print("Original List:", list)
swapped_list = swap(list)
print("After swapping:", swapped_list)

Original List: [10, 20, 30]
After swapping: [30, 20, 10]

In [7]:
def swap(lst):
    if len(lst) >= 2:
        lst[0], lst[-1] = lst[-1], lst[0]
    return lst

list = [10,20,30]
print("Original List:", list)
swapped_list = swap(list)
print("After swapping:", swapped_list)

Original List: [10, 20, 30]
After swapping: [30, 20, 10]

In [8]:
'''wap to remove duplicates from a list'''

my_list = [1, 2, 3, 4, 2, 3, 5]

unique_list = []

for item in my_list:

    if item not in unique_list:
        unique_list.append(item)

print(unique_list)

[1, 2, 3, 4, 5]