<a href="https://colab.research.google.com/github/shreedharmaster/Codes/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:



list1 = list(range(1,101))

even_count, odd_count = 0, 0

for num in list1:


	if num % 2 == 0:
		even_count += 1

	else:
		odd_count += 1

print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  50
Odd numbers in the list:  50

In [7]:
a=[1,2,3,4,5,10,7,9]
max=0;
for i in a :
  if max<i :
    max=i;
print(max);

10

In [8]:
list = [10,33,53,32]
largest_number = list[0]

for num in list:
    if num > largest_number:
     largest_number = num

print("The largest number in the list is:", largest_number)

The largest number in the list is: 53

In [5]:
list=[i for i in range (1,101)]
list1=[i for i in range(1,101) if i%2==0]
list2=[i for i in range(1,101) if i%2!=0]
print(list)
print('')
print(list1)
print('')
print(list2)
print('')
print('')
print('')
list_mixed=[1,"shreedhar," ,2,"akshat",3,"sandeep",4,"anshul"]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]